body {
    background-image: url(/images/backgroundv2.png);
    background-position: center;
    background-size: 45%;
    background-repeat: repeat;
    color: #f0f0f0;
    font-family: 'Verdana', sans-serif;
    margin: 20%;
    padding: 0;
    margin-top: 5%;
    align-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 3px solid #b0a160;
    padding: 0px;
    margin-top: 0px;
    background-color: #1f1f1f;
    margin-bottom: 15%;
}

header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #b0a160;
}

header h1 {
    color: #c9c9c9;
    font-size: 3em;
    font-family: 'Georgia', serif;
    text-shadow: 2px 2px 4px #000;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
    background-color: #2a2a2a;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #d4af37;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #b0a160;
}

footer {
    text-align: inherit;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 2px solid #b0a160;
}

footer p {
    color: #c9c9c9;
}

a {
    text-decoration: double;
    color: #9ba1a4;
}

.ore-container {
    margin-left: 83%;
    right: 0;
    display: block;
    width: 80%;
    text-align:center;
    margin: none;
}

.ore-pile {
    margin-bottom: 0;
    margin: none;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

.ore-pile img {
    margin-bottom: 0px;
    display: block;
    padding-bottom: 0;
}

.trademark {
    text-align: center;
}

table,
td {
    border: 2px solid rgb(242, 144, 144);
}